body {
	counter-reset: paragraph;
}

h2 {
	counter-increment: paragraph;
}

h2::before {
	content: counter(paragraph) ". ";
}

pre {
	tab-size: 3;
}

.img-wrapper {
	max-width: 200px;
	max-height: 200px;
}

.img-thumbnail {
	cursor: pointer;
}